@inherits LayoutComponentBase


<header>
        <div>
            <a asp-area="" asp-page="/Index"><img src="images/JS logo.png" alt="Logo" width="100" /></a>
        </div>
        <div class="date">
            <p>Dagens Datum är: @DateTime.Now.ToString("yyyy-MM-dd")</p>
        </div>
        <i class="fa fa-bars fa-2x" @onclick="ToggleMenu" id="hamburger"></i>
    </header>

    <div class="flex-container" >
        <!-- Sidomeny -->
        <div class="navbar @(isMenuOpen ? "open" : "")" id="navMenu" style="flex-grow: 1; align-self: center">
            <NavMenu />
        </div>

        <!-- Huvudinnehåll -->
        <main role="main" style="flex-grow: 8">
            @Body
        </main>
    </div>

    <footer>
        <hr>
        <div>
            <p>av Jonas Ståleker <br> Kontakta mig via e-post: jost2306@student.miun.se</p>
        </div>
    </footer>

@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}